{% extends 'lotus/layout/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="lotus-card-dark mb-3">
        <div class="lotus-card-header-dark">
            Page Details
        </div>
        <form action="{% url 'lotus_page_update' details.id %}" method="post">{% csrf_token %}
            <div class="lotus-card-body-dark">
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-2 text-end" style="color: #aaa;">App: </div>
                        <div class="col-10" style="color: #aaa;">{{form.app}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 text-end" style="color: #aaa;">ID: </div>
                        <div class="col-10" style="color: #aaa;">{{form.id}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 text-end" style="color: #aaa;">Name: </div>
                        <div class="col-10" style="color: #aaa;">{{form.name}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 text-end" style="color: #aaa;">Description: </div>
                        <div class="col-10" style="color: #aaa;">{{form.description}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 text-end" style="color: #aaa;">Path: </div>
                        <div class="col-10" style="color: #aaa;">{{form.path}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 text-end" style="color: #aaa;">Status: </div>
                        <div class="col-10" style="color: #aaa;">{{form.is_enabled}}</div>
                    </div>
                </div>
            </div>
            <div class="lotus-card-header-dark">
                <div class="row">
                    <div class="col-2">
                        <button class="btn btn-sm btn-success py-0" type="submit">Save</button>
                    </div>
                    <div class="col-10 text-end">
                        <a class="btn btn-sm btn-danger py-0" href="{% url 'lotus_page_details' details.id %}">X</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}